// Settings go here

.siteWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.stretch {
  flex: 1;
}

.flexEnd {
  align-self: flex-end;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.powered-by-firepad {
  visibility: hidden;
}

.jsplumb-connector {
  z-index: 1;
  path {
    stroke: #DADADA;
    stroke-width: 3;
  }
}
